

<h1>Welcome to my website!</h1>
<h2>This is the site where people go to be found</h2>
<p>Think top trumps with your key stats, ready to be found.</p>
<p>Sign up here.</p>

<a href="http://google.com">Google</a>